*{
	margin: 0px;
	padding:0px;
}
.bgimage{
	background-image: url('bg photo.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	position: relative;
	width:100%;
	height: 100vh;

}
.nav{
	width: 350px;
	height: auto;
	background-color: auto;
	position: absolute;
	top: 20%;
	left: 0;
}
.nav a{
	text-decoration:none;
	font-size:28px;
	font-family:verdana;
	font-weight:bold;
	height:90px;
	margin:5px 0;
	float: left;
	background-color:black
	color:white;
	line-height:90px;
	text allign:centre;
	transition: 300ms;
}

a.active,.nav a:hover{
	background-color:white;
	color:black;
	width: 100%;
	

}
.a{
	width:95%;
}
.b{
	width:75%;
}
.c{
	width:80%;
}
.d{
	width:90%;
}
.content{
	position: absolute;
	width: 930px;
	min-height:500px;
	height:auto;
	/*background-color:red;*/
	right:0;
	top:10%
}
.home{
	position:absolute;
	right:0;
	bottom:-50px;
	color:white;
	font-family:verdana;
	
}
.home h1{
	font-size:40px;
	padding-right:70px;
	border-bottom:1px solid white;
}
.home h3{
	font-size:28px;
	padding:5px 0;
	opacity:0.6
}
.contact-title body{
	text-allign:center;
	background:linera-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(pic.jpg);
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}
.contact-title
{
	margin-top:100px;
	color:#fff;
	text-trasform:uppercase;
	transition:all 4s ease-in-out;
}
.contact-title h1{
	font-size:32px;
	line-height:10px;
}
.contact-title h2
{
	font-size:16px;
}
form
{
	margin-top:50px;
	transition: all 4s ease-in-out;
}
.form-control
{
	width:600px;
	background: transparent;
	border:none;
	outline:none;
	border-bottom:1px solid gray;
	color:#fff;
	font-size:18px;
	margin-bottom:16px;
}
